<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Logins</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <main>
        <h1>Gerador de Logins</h1>
        
        <form id="upload-form" enctype="multipart/form-data">
            <label for="planilha">Envie sua planilha (.xlsx)</label>
            <input type="file" id="planilha" name="planilha" required>
            
            <label for="template">Envie seu template (.pdf)</label>
            <input type="file" id="template" name="template" required>

            <a href="{{url_for('static', filename='template.pdf')}}" download="template.pdf">Baixe o template para envio</a>

            <button type="submit">Gerar PDF</button>
        </form>

        <div id="download-section" style="display:none;">
            <p>Seu PDF foi gerado! <a id="download-link" href="#">Clique aqui para baixar</a></p>
        </div>

        <div id="como-funciona">
            <button id="open-modal-btn">Como funciona</button>
        </div>

        <div id="modal" style="display:none;">
            <div id="modal-content">
                <h2>Como Funciona o Gerador de PDF?</h2>
                <p>Este site permite que você envie uma planilha no formato .xlsx contendo uma coluna chamada "Nome" e um template no formato .pdf. O gerador utilizará esses arquivos para criar um PDF personalizado, baseado nas informações fornecidas.</p>
                <p>Para visualizar onde as informações serão exibidas, você pode baixar a versão do template em <a href="{{ url_for('static', filename='template.pdf') }}" download="template.pdf">PDF</a>.</p>
                <button id="modal-close">Fechar</button>
            </div>
        </div>
    </main>

    <div id="footer">
        <p>Feito por <a href="https://github.com/adriellymd" target="_blank">adriellymd</a></p>
    </div>

    <!-- enviar arquivos e baixar o PDF -->
    <script>
        document.getElementById("upload-form").onsubmit = async function(event){
            event.preventDefault(); 
            
            let formData = new FormData();
            formData.append("planilha", document.getElementById("planilha").files[0]);
            formData.append("template", document.getElementById("template").files[0]);

            let response = await fetch("/upload",{
                method: "POST",
                body: formData
            });

            if(response.ok){
                let pdfBlob = await response.blob(); 
                let pdfUrl = URL.createObjectURL(pdfBlob);

                let downloadLink = document.getElementById("download-link");
                downloadLink.href = pdfUrl;
                downloadLink.download = "logins_gerados.pdf";

                document.getElementById("download-section").style.display = "block";
            } 
            else{
                alert("Erro ao gerar PDF!");
            }
        };

        document.getElementById("open-modal-btn").onclick = function(){
            document.getElementById("modal").style.display = "flex"; // Exibe o modal
        };

        document.getElementById("modal-close").onclick = function(){
            document.getElementById("modal").style.display = "none"; // Oculta o modal
        };
    </script>
</body>

</html>